
<!DOCTYPE html>
<html>
<body>

<h1>Submit Evaluation for <%= @event.title %></h1>

<%= form_with model: @evaluation, url: student_evaluations_path do |f| %>
   <% if @evaluation.errors.any? %>
      <div class="error-messages">
        <h3><%= pluralize(@evaluation.errors.count, "error") %> prohibited this evaluation from being saved:</h3>
        <ul>
          <% @evaluation.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.hidden_field :event_id, value: @event.id %>

    <div class="field">
      <%= f.label :clarity, "Clarity (1-5)" %>
      <%= f.number_field :clarity, in: 1..5 %>
    </div>

    <div class="field">
      <%= f.label :organization, "Organization (1-5)" %>
      <%= f.number_field :organization, in: 1..5 %>
    </div>

    <div class="field">
      <%= f.label :technical, "Technical Content (1-5)" %>
      <%= f.number_field :technical, in: 1..5 %>
    </div>

    <div class="field">
      <%= f.label :comments %>
      <%= f.text_area :comments %>
    </div>

    <%= f.submit "Submit Evaluation" %>
    <p><%= link_to "â† Back to Student Dashboard", students_dashboard_path %></p>

<% end %>


<%= form_with url: destroy_user_session_path, method: :delete do %>
  <%= submit_tag "Log out", style: "background: none; border: none; color: blue; text-decoration: underline; cursor: pointer;" %>
<% end %>

</body>
</html>